# OSX
.DS_Store
._.*

# Autotools, makefiles
/aclocal.m4
/m4/libtool.m4
/m4/lt*.m4
/autom4te.cache/
/config/
configure
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
libtool
stamp-h1

# RVM
/.ruby-version
/.ruby-gemset
/.ruby-env

# Binaries, libraries, objects, other
/src/im2a
.libs
.deps
*.o
*.bak
*~

# Some images for testing
*.png
*.jpg
*.gif

# Just in case
/tmp
/build
